* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.sidebar {
    position: fixed;
    width: 250px;
    left: 0;
    background-color: #333333;
    height: 100%;
}

.sidebar .text {
    color: white;
    font-size: 30px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background-color: #464545;
    letter-spacing: 1px;
}

nav ul {
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style-type: none;
}

nav ul li {
    line-height: 60px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.13);
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-right: 5px solid transparent;
    position: relative;
}

nav ul li a:hover {
    color: rgb(206, 206, 206);
    background-color: #2e2e2e;
    transition: 0.6s ease-in-out;
    border-right-color: rgb(206, 206, 206);
}

nav ul ul {
    position: static;
    display: none;
}

nav ul ul li {
    line-height: 42px;
    border-bottom: none;
}

nav ul ul li a {
    font-size: 17px;
    padding-left: 60px;
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.3s;
    transform: translateY(-50%) rotate(-90deg);
}

nav ul li a:hover span {
    transform: translateY(-50%);
}

nav ul li:hover>ul {
    display: block;
    transition: 0.8s ease;
}