:root {
    --primary-color: #fff;
    --secondary-color: #0D161C;
    --third-color: #333333;
    --color-1: #fff;
    --color-2: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1.25px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.logo {
    clip-path: polygon(0 0, 100% 0, 67% 100%, 0% 100%);
    background-color: var(--third-color);
    width: 460px;
    height: 121px;
    padding: 30px;
    border-bottom: 1px solid var(--secondary-color);
}

.logo img {
    width: 300px;
}

.side-menu ul {
    height: 77vh;
    width: 308px;
    background-color: var(--third-color);
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-left: 5px solid var(--third-color);
}

.side-menu ul li {
    cursor: pointer;
    border-bottom: 1px solid var(--primary-color);
}

.side-menu ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2rem;
    height: 15.29vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-menu {
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
    background-color: var(--secondary-color);
    width: 460px;
    height: 95px;
    border-top: 1px solid var(--secondary-color);
    overflow-y: hidden;
}

.bottom-menu a {
    padding: 40px;
}

.bottom-menu a img {
    width: 50px;
}

.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.side-menu .active a {
    color: var(--secondary-color);
}

#side {
    position: fixed;
}

.content {
    position: relative;
    margin-left: 550px;
    width: 60vw;
}

.content p {
    width: 50vw;
    font-size: 1.5rem;
    margin-top: 30px;
}

.content h1 {
    padding-top: 100px;
    font-size: 3rem;
}

.content div p {
    padding-top: 100px;
    font-size: 1.5rem;
}

.content img {
    padding-top: 100px;
    width: 100%;
}

main {
    margin-top: 30px;
    width: 50vw;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px 90px;
    align-items: center;
    width: 80%;
    height: 70vh;
}

.grid>article {
    box-shadow: 2px 2px 6px 1px var(--third-color);
    height: 220px;
    background-color: var(--secondary-color);
}

article:first-child {
    border-right: 4px solid var(--color-1);
}

article:nth-child(2) {
    border-right: 4px solid var(--color-2);
}

.grid>article p {
    color: var(--primary-color);
    margin-top: 70px;
    margin-left: 20px;
}

.grid>article hr {
    width: 60%;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid var(--color-1);
}

.grid>article div {
    width: 60%;
    margin-left: 18px;
    margin-top: 10px;
    color: var(--primary-color);
}

.logo-container {
    width: 60vw;
    height: auto;
    margin-top: 70px;
}

.primary-logo, .secondary-logo, .third-logo {
    display: flex;
    border: 1px solid black;
    margin: 60px 0;
}

.primary-logo div img, .secondary-logo div img, .third-logo img{
    padding: 0 20px;
}

.white-background {
    background-color: #fff;
    width: 50%;
    height: 70vh;
    display: flex;
    align-items: center;
}

.black-background {
    background-color: black;
    width: 50%;
    height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
}
.dark-background{
    background-color: #131217;
}
.dark-background img{
    margin-top: 80px;
}
.black .dot{
    background-color: black!important;
}
.black span{ 
    color: black!important;
}

.logo-footer {
    color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    right: 0;
}
.logo-footer span {
  margin: 0 5px;
}
.dot {
    height: 7px;
    width: 7px;
    background-color: #fff;
    border-radius: 50%;
}
  

/* #side-column {
    display: flex;
    flex-direction: column;
    height: 75vh;
    background-color: #C22424;
    position: relative;
    width: 20px;
    margin-left: 1150px;
    margin-top: -700px;
    box-shadow: 2px 2px 6px 1px var(--third-color);
    border-radius: 2px;
} */


/* .top-nav {
    display: flex;
    background-color: var(--secondary-color);
    width: 100vw;
    height: 10vh;
    color: var(--primary-color);
} */

.artboards {
    width: 50vw;
}

@media (max-width: 1400px) {
    .artboards {
        padding-top: 100px;
        width: 30vw;
    }
    .content h1 {
        padding-top: 100px;
        font-size: 2rem;
    }
    .content {
        margin-left: 550px;
        width: 30vw;
    }
    .logo {
        width: 360px;
    }
    .logo img {
        margin-top: 10px;
        width: 200px;
    }
    .side-menu ul {
        width: 241px;
    }
    .side-menu ul li a {
        font-size: 1.5rem;
    }
    .bottom-menu {
        width: 360px;
    }
    .bottom-menu a {
        padding: 30px;
    }
    .bottom-menu a img {
        width: 40px;
    }
    .content p {
        width: 30vw;
    }
}

@media (max-width: 900px) {
    .artboards {
        padding-top: 50px;
        width: 30vw;
    }
    .content h1 {
        padding-top: 100px;
        font-size: 1rem;
    }
    .content {
        margin-left: 300px;
        width: 30vw;
    }
    .logo {
        width: 260px;
    }
    .logo img {
        margin-top: 15px;
        width: 150px;
    }
    .side-menu ul {
        width: 175px;
    }
    .side-menu ul li a {
        font-size: 1rem;
    }
    .bottom-menu {
        width: 260px;
    }
    .bottom-menu a {
        padding: 20px;
    }
    .bottom-menu a img {
        width: 30px;
    }
    .content p {
        width: 30vw;
    }
    .content div p {
        font-size: 1.3rem;
    }
}